.float {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}
.twoline {
    width: 50px;
    display: table-cell;
}
/*div {
    display: table;
    border: solid 1px blue;
    width: 500px;
    height: 100px;
}*/
.bar_cell {
    width: 100%;
    border-radius: inherit;
}
.chart_cell:hover {
    transform: translateY(var(--bar_cell_y_transform));
}

.bar {
    /*background-color: var(--bar_height);*/
    border-radius: 5px;
    /*border-width: 1px;
    border-color: black;*/
    /* border: 2px solid black; */
    color: rgb(20, 20, 20);
    transition: all var(--bar_animation_duration);
    width: 100%;
    /*display: table-cell;*/
    display: inline;
    align-self: flex-end;
}

.inner_border {
    /*margin: 20px;*/
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25px;
    margin-left: 25px;
    width: 550px;
    height: 90%;
}
.chart_cell {
    vertical-align: bottom;
    transition: all var(--bar_animation_duration);
    height: 100%;
    display: flex;
    width: 100%;
    /*transform: rotate(180deg);*/
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

.chart_cell:hover {
    /*position:relative;*/
    transition: all var(--bar_animation_duration);
    /* height: 110%;
    width: 130%; */
    /*transform: rotate(180deg);*/
    bottom: 2.5%;
    right: 5%;
    /* padding: 20%, 2%; */
    transform: scaleY(1.1);
    transform: scaleX(1.2);
}
.cell {
    height: 80%;
}

/*.bar:hover {
    transform: translate(-12px, -12px);
    box-shadow: 10px 10px 5px 4px rgba(0, 0, 0, 0.75);
}*/

.chart_legend {
    color: rgb(20, 20, 20);
    border-radius: 5px;
    background-color: #717171;
    font-size: 16px;
    height: 22px;
}

.chart_border {
    box-shadow: 5px, 5px, 4px, 4px rgba(0, 0, 0, 0.227);
    border: 3px;
    border-color: rgb(54, 54, 54);
    background-color: rgb(176, 176, 176);
    margin: 0px;
    width: 600px;
    height: 550px;
}

.chart_label {
    font-size: 25px;
    text-align: center;
    color: rgb(20, 20, 20);
}

:root {
    --good: #08c915;
    --nodata: #aaaaaa;
    --avrg: #ffcc00;
    --bad: #f10000;
    --bar_height: 100%;
    --bar_animation_duration: 0.4s;
}



.details_info {
    background:#F8F8F8;
    border: 5px solid #DFDFDF;
    color: #717171;
    font-size: 13px;
    height: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    /* text-transform: uppercase; */
    top: 50%;
    left: -135px;
    transform: translateY(-50%);
    display:none;
    /* padding:0 20px; */
    width: 100px;
    height: 120px;
}
.details_info:after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    right: -10px;
    border-bottom: 5px solid #dfdfdf;
    border-right: 5px solid #dfdfdf;
    background: #f8f8f8;
    margin-left: -10px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
}

.chart_cell:hover > .details_info{
    display:block;
}

.chart_cell:hover .bar {
    position: relative;
    transform: translate(-12px, -12px);
    box-shadow: 10px 10px 5px 4px rgba(0, 0, 0, 0.75);
    margin: 20% 5%;
}/*style="height: 10.1%; background-color: red;"*/


